<!-- One page application-->

<div id='loading'>
    <p> loading </p>
</div>

<div id='p1'>
    <p id='p1Title'> A Brief History of the Cocoa Bean </p>
    <button id='p1Segue'>Begin</button>
</div>

<div id='p2'>
    <h1 id='p2Title'>Origin Story</h1>
    <div id='p2Annotation'>
        <p><span id='pod'>Theobroma cacao</span>, or <i><span id='openPod'>food of the gods</span></i>, is widely credited to the <span id='aztecs'>Aztecs</span> and Mayans, but <span id='discovery'>recent discoveries</span> date cocoa <span id='consumption'>consumption</span> as far back as 1900BC throughout Central America.
        </p>
    </div>
</div>

<div id='p3'>
    <div class='overlay'></div>
    <h1 id='p3Title'>In come the <span id='conquistadors'>conquistadors</span>...</h1>
    <p id='p3Para'>And in <span id='wipedout'>1528</span>, Hernando Cortez first brought cocoa beans back to <span id='spain'>Spain</span></p>
</div>

<div id='p4'>
    <div class='overlay'></div>

    <p id='p4Para'>Cocoa <span id='farming'>farming proliferated</span> as Cocoa <span id='expansion'>boomed</span> throughout <span id='productionchart'>the West</span>.</p>

    <p id='p4Para2'>Today, cocoa production has largely <span id='africaproduction'>shifted to Africa</span>

        <p id='p4Para3'>Despite <span id='tech'>technological advances</span>, farming remains a manual, and labor intensive process. Farmers first collect pods from the trees, using a <span id='smash'>club or machete</span>, they bash the pod to crack it's exterior, then scoop out the beans. The beans are covered with <span id='bananaleaves'>banana</span> leaves for several days to allow the white pulp to ferment. Fermentation is crucial to flavor.</p>

</div>

<div id='p5'>
    <div class='overlay'></div>

    <p id='p5Para'>Cocoa trees are naturally fickle, and they require very specific climates to grow. They are extremely succeptible to <span id='elnino'>weather events</span>, <span id='pests'>pests</span>, and <span id='diseases'>disease</span>, and by the early 1960's, long term production prospects were grim.</p>

    <p id='p5Para2'>In the mid 1960's, an Ecuadorian scientist by the name of Homer Castro, developed a super-resilient variety of cocoa tree, which he called, quite attractively, <span id='ccn51'>CCN-51.</span></p>
    <p id='p5Para3'>While CCN-51 proved hardy, if not exactly tasty, modern farms still rely heavily on industrial pesticides to protect their trees.</p>
</div>

<div id='p6'>
    <div class='overlay'></div>

    <p id='p6Para'>In recent years, news has surfaced that many African Cocoa farms use, sometimes through means of slavery, <span id='childlabor'>child laborers</span>.</p>
    <p id='p6Para2'>Reporters have found children as young as 5 years old, sometimes being forced to work from dawn til dusk. Evidence of child trafficking has been documented as well</p>
    <p id='p6Para3'>Some of the largest chocolate <span id='hersheys'>producers</span> refuse to release information on where they source their cocoa.</p>

</div>

<div id='navBar'>
    <button id='back'> < </button>
    <button id='forward'> > </button>
</div>

